.slider-wrapper {
  margin: 32px 0 !important;
}

.main-content {
  min-height: 100vh !important;
}

.categories .categories-item {
  margin-bottom: 4.8rem !important;
}

.categories .categories-item .title-md {
  margin-bottom: 2.8rem !important;
}
