.cart-modal {
  position: absolute !important;
  right: -10px !important;
  top: calc(100% + 10px) !important;
  background-color: #fff !important;
  width: 360px !important;
  box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px !important;
  padding: 1.8rem !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 300ms ease-in-out !important;
  z-index: 99 !important;
  height: 460px !important;
  overflow-y: scroll !important;
}

.cart-modal::-webkit-scrollbar {
  width: 5px !important;
}

.cart-modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
}

.cart-modal::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #ff774d !important;
  outline: 1px solid #a16bed !important;
}

.cart-modal::after {
  position: absolute !important;
  content: "" !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 13px solid #fff !important;
  right: 8px !important;
  top: -13px !important;
}

.cart-modal-title {
  color: rgba(0, 0, 0, 0.6) !important;
  margin-bottom: 12px !important;
}

.cart-modal-list .cart-modal-item {
  grid-template-columns: 64px auto 65px !important;
  column-gap: 12px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.cart-modal-list .cart-modal-item-img {
  width: 60px !important;
  height: 60px !important;
}

.cart-modal-list .cart-modal-item-title {
  color: rgba(0, 0, 0, 0.85) !important;
}

.cart-modal-empty img {
  width: 120px !important;
  margin-top: 2rem !important;
}

.cart-modal-empty h6 {
  margin-top: 1.6rem !important;
}

.cart-modal .view-cart-btn {
  display: inline-block !important;
  width: 200px !important;
  padding: 5px 1rem !important;
  margin-top: 1.8rem !important;
  margin-left: auto !important;
  border-radius: 2px !important;
}
